* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

a{
  text-decoration: none;
  color: black
}

html {
  font-size: 62.5%;
}

header {
  height: 100px;
  padding: 30px;
}
h1 {
  text-align: center;
}

.section_recherche {
  margin-top: 40px;
  text-align: center;
}

hr {
  margin: 5% 10% 5% 10%;
}

h2 {
  text-align: center;
  margin-bottom: 70px;
}
body {
  font-size: 1.6rem;
  background: rgb(32, 30, 25);
  background: linear-gradient(
    90deg,
    rgba(32, 30, 25, 1) 1%,
    rgba(36, 32, 32, 1) 100%
  );
  color: white;
}

main{
  margin-bottom: 100px;
}

#liste_films {
  display: flex;
  flex-wrap: wrap;
  padding-right: 100px;
  padding-left: 100px;
}

.container_film {
  padding-left: 0px;
  width: 350px;
  margin: 40px auto auto auto;
  height: 745px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  border-radius: 20px;
  background-color: black;
  text-align: center;
}

.img_film_semaine {
  width: 350px;
}


#resume_film_semaine{
  width: 350px
}

.voir_resume{
  color:aquamarine;
  text-align:center;
}

#resume_film_semaine:hover{
  width: 350px;
  position:absolute
}


h3 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

p {
  display: block;
  text-align:justify;
  line-height: 1.4em;
  letter-spacing: 1;
  padding: 10px;
  cursor: pointer;
  border-radius: 0px 0px 20px 20px;
}

#resume_film_semaine {
  background-color: black;
}

ul {
  padding: 0px;
  list-style-type: none;
}



.titre_film:hover {
  color: rosybrown;
}


.container_film_recherche_select {
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  margin-top: 50px;
  padding-right: 200px;
  padding-left: 200px;
}

.img_movie_selected {
  width: 250px;
}

#liste_film_recherche {
  background-color: black;
  text-align: left;
  padding: 40px 40px 40px 10px;
  border-radius: 20px;
  line-height: 3rem;
  cursor: pointer;
}

#detail_film {
  background-color: black;
  width: 700px;
  height: 800px;
  padding: 20px;
  border-radius: 20px;
  text-align: justify;
}



#propositions_recherche {
  width: 300px;
}

.liste_film_choisit {
  display: flex;
  justify-content: space-around;
  width: 700px;
  overflow: hidden;
  text-align: center;
  margin: 10px 0px 10px 10px;
}

.description_film_choisit {
  width: 300px;
  margin: 10px 10px 10px 10px;
}

.display_none {
  display: none;
}

.display {
  display: flex;
}

@media (min-width:500px) and (max-width: 1320px) {
  .container_film_recherche_select {
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    margin: auto;
    margin-top: 50px;
    
  }

  #liste_films {
    padding:10px;
  }

  #liste_film_recherche {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
   }

   .titre_image_selected_film {
    align-self: flex-start;
  }

  #detail_film {
    width:400px;
    flex-direction: column;
    height: min-content
  }

  .liste_film_choisit {
    flex-direction: column
  }

  .titre_image_selected_film {
    align-items: right;
  }
}


@media (max-width:500px) {

  .container_film_recherche_select {
    align-items: center;
    flex-direction:column;
    
    margin-top: 50px;
    
  }

  .container_film {
    width: 400px;
    height: 745px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #liste_films {
    padding:10px;
  }

  #liste_film_recherche {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    
   }

  #detail_film {
    width:300px;
    flex-direction: column;
    align-items: center;
    height: min-content
  }

  .description_film_choisit{
    width: 200px;
  }

  .liste_film_choisit {
    flex-direction: column;
  }

  .titre_image_selected_film {
    align-self: flex-start;
  }
}
